* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100vh;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
    h1 {
      font-family: 'Rubik', sans-serif;
    }
    input, span, label, button, p {
      font-family: 'Open Sans', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, span, input, label, button, p {
      color: #444444;
    }

body {
    background: #f0f0f0;
    padding: 3rem 5rem;
}
    
header {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    gap: 2rem;
}

select {
    padding: .25rem .5rem;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

main {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.main-forecast, section {
    background: #fdfdfd;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

main > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-row, .section-row p {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1.5rem;
}

.flood-risk {
    text-align: center;
}

section div {
    min-width: 200px;
}